@import url(https://fonts.googleapis.com/css?family=Nunito);#login-body {
  background-image: url("/images/login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#login-body div.container-fluid {
  position: relative;
  min-height: 100vh;
}

#login-body div.container-fluid .header-container {
  height: 45px;
  position: absolute;
  top: 0;
}

#login-body div.container-fluid .header-container .header-text {
  padding: 10px;
}

#login-body div.container-fluid .header-container .header-text h6 {
  margin: 0;
}

#login-body div.container-fluid .header-container .header-left-text {
  color: #4E759C;
}

#login-body div.container-fluid .header-container .header-right-text {
  color: #FFFFEF;
}

#login-body div.container-fluid .left-side .login-form {
  border: 1px solid #FFFFEF;
  background-color: #8CC5DE;
  padding: 15px 0;
  border-radius: 3px;
  position: relative;
}

#login-body div.container-fluid .left-side .login-form div.form-container {
  margin: 10px 0;
}

#login-body div.container-fluid .left-side .login-form div.form-container > :first-child {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40%;
}

#login-body div.container-fluid .left-side .login-form div.form-container > :last-child {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40%;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group {
  padding: 3px 0;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group .form-title {
  font-weight: bold;
  color: #4E759C;
  text-transform: uppercase;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group input::-webkit-input-placeholder {
  color: #FFFFEF;
  opacity: 1;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group input::-moz-placeholder {
  color: #FFFFEF;
  opacity: 1;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group input:-ms-input-placeholder {
  color: #FFFFEF;
  opacity: 1;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group input::-ms-input-placeholder {
  color: #FFFFEF;
  opacity: 1;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group input::placeholder {
  color: #FFFFEF;
  opacity: 1;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group .input-element {
  border-radius: 3px;
  padding-left: 3px;
  background-color: transparent;
  color: #FFFFEF;
  border: none;
  border-bottom: 2px solid #FFFFEF;
  height: 35px;
  outline: none;
}

#login-body div.container-fluid .left-side .login-form div.form-container .form-group .login-button {
  background-color: #FFFFEF;
  border: none;
  color: #4E759C;
  font-weight: bold;
  height: 60px;
}

#login-body div.container-fluid .left-side .login-form .forgot-password {
  position: absolute;
  bottom: 0;
  padding: 2px 0;
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 10px;
}

#login-body div.container-fluid .center-side .text-container {
  margin: 15px 0;
  letter-spacing: 1px;
  font-size: 9px;
  font-weight: bold;
}

#login-body div.container-fluid .center-side .text-container .o-color {
  color: #FFFFEF;
}

#login-body div.container-fluid .center-side .text-container .r-color {
  color: #FFFFEF;
}

#login-body div.container-fluid .right-side .sign-up-button {
  background-color: #FFFFEF;
  color: #4E759C;
  font-weight: bold;
  height: 60px;
  border: 1px solid #8CC5DE;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  margin: 15px 0;
}

@media (max-width: 767.98px) {
  .login-form {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin: 45px 0 15px 0;
  }
}

@media (min-width: 768px) {
  .login-form {
    height: 300px;
    width: 85%;
    margin: 15px 0;
  }
}

